
.vs/TestingSystem/DesignTimeBuild/.dtbcache.v2

TestingSystem.Data/bin/Debug/

TestingSystem/bin/Debug/

TestingSystem/obj/Debug/

TestingSystem.Data/obj/Debug/

TestingSystem.Data.Tests/bin/Debug/

TestingSystem.Data.Tests/obj/Debug/

.vs/TestingSystem/v16/.suo
