
TestingSystem/bin/Debug/

TestingSystem/obj/Debug/

TestingSystem.Data/bin/Debug/

TestingSystem.Data/obj/Debug/

TestingSystem.Data.Tests/bin/Debug/

TestingSystem.Data.Tests/obj/Debug/

.vs/TestingSystem/DesignTimeBuild/

.vs/

TestingSystem/

TestingSystem.Data/

TestingSystem.Data.Tests/
